:root {
	--text-color-primary: white;
	--text-color-secondary: #757575;
	--text-color-tertiary: #292929;
	--text-color-accent: #725cd2;

	--max-content-width: 1200px;

	--carousel-padding: 100px 10%;

	--article-title-size: 50px;
	--article-title-weight: 700;
	--article-subtitle-size: 25px;
	--article-subtitle-weight: 700;
	--article-text-size: 18px;
	--article-text-weight: 400;

	--card-padding: 20px;
	--card-border-radius: 10px;
	--card-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2);
}

.article-title {
	color: var(--text-color-primary);
	font-size: var(--article-title-size);
	font-weight: var(--article-title-weight);
	margin: 0;
}

.article-subtitle {
	color: var(--text-color-secondary);
	font-size: var(--article-subtitle-size);
	font-weight: var(--article-subtitle-weight);
	margin: 0;
}

.article-text {
	color: var(--text-color-primary);
	font-size: var(--article-text-size);
	font-weight: var(--article-text-weight);
}

body,
header {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
	color-scheme: dark;
}
